<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapbius_server.mapper.AccountMapper">


    <!-- 즐겨찾기한 적이 있는지 확인하는 쿼리 -->
    <select id="checkIfFavoriteExists" parameterType="com.example.mapbius_server.domain.Favorite" resultType="int">
        SELECT COUNT(*)
        FROM favorites
        WHERE user_id = #{userId} AND location_code = #{locationCode};
    </select>

    <!-- 즐겨찾기 등록 -->
    <insert id="insertFavorite" parameterType="com.example.mapbius_server.domain.Favorite">
        INSERT INTO favorites (user_id, type, location_code)
        VALUES (#{userId}, #{type}, #{locationCode})
    </insert>

    <!-- 즐겨찾기 삭제 -->
    <delete id="deleteFavorite" parameterType="String">
        DELETE FROM favorites WHERE location_code = #{locationCode}
    </delete>

    <!-- 특정 사용자의 즐겨찾기 리스트 반환 -->
    <select id="getFavoritesByUserId" parameterType="String" resultType="map">
        SELECT fav_index, user_id, type, location_code
        FROM favorites
        WHERE user_id = #{userId}
    </select>


    <!-- 사용자 계정 삭제 (is_delete 컬럼을 수정하여 상태를 변경함, 0은 정상 / 1은 탈퇴) -->
    <update id="updateDeleteAccount">
        UPDATE users
        SET is_deleted = 1
        WHERE id = #{id} and is_deleted = 0;
    </update>

    <!-- 사용자 업데이트 -->
    <update id="updateAccount" parameterType="com.example.mapbius_server.domain.User">
        UPDATE users
        <set>
            <if test="nm != null and nm != ''">
                nick_name = #{nm},
            </if>
            <if test="pw != null and pw != ''">
                pw = #{pw},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 일반회원 사용자 이이디로 카카오 회원 아이디 있는지 확인 -->
    <select id="findKakaoIdByUserId" parameterType="string" resultType="string">
        SELECT kakao_id
        FROM users
        WHERE id = #{id}
    </select>

    <!-- notices 테이블 데이터 옮기기 -->
    <update id="updateNoticesIdChange">
        UPDATE notices SET author=#{changeId} WHERE author=#{id};
    </update>


    <!-- 사용자 조회 -->
    <select id="findByUserId" parameterType="string" resultType="com.example.mapbius_server.domain.User">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <!-- 프로필 이미지 업데이트 -->
    <update id="updateProfileImage" parameterType="map">
        UPDATE users
        SET profile_image = #{profileImage}
        WHERE id = #{id}
    </update>

    <!-- 프로필 이미지 출력 -->
    <select id="findProfileImageByUserId" resultType="string">
        SELECT profile_image
        FROM users
        WHERE id = #{id}
    </select>


</mapper>