<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapbius_server.mapper.AccountMapper">

    <!-- 사용자 계정 삭제 (is_delete 컬럼을 수정하여 상태를 변경함, 0은 정상 / 1은 탈퇴) -->
    <update id="updateDeleteAccount">
        UPDATE users
        SET is_deleted = 1
        WHERE id = #{id} and is_deleted = 0;
    </update>

</mapper>