<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapbius_server.mapper.LoginMapper">

    <resultMap id="UserResultMap" type="com.example.mapbius_server.domain.User">
        <result property="seq" column="seq"/>
        <result property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="kakaoId" column="kakao_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="profileImage" column="profile_image"/>
        <result property="birthDate" column="birth_date"/>
        <result property="gender" column="gender"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <!-- 로그인 인증 (아이디와 비밀번호 확인) -->
    <select id="authenticate" parameterType="map" resultType="com.example.mapbius_server.domain.User">
        SELECT id, pw FROM users WHERE id = #{id} AND pw = #{pw}
    </select>

    <!-- 로그인 후 사용자 정보 가져오기 -->
    <select id="getUserInformation" parameterType="map" resultMap="UserResultMap" resultType="com.example.mapbius_server.domain.User">
        SELECT seq, id, email, kakao_id, nick_name, profile_image, birth_date, gender, created_at, updated_at
        FROM users
        WHERE id = #{id} AND pw = #{pw}
    </select>



</mapper>
