<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapbius_server.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.example.mapbius_server.domain.User">
        <result property="seq" column="seq"/>
        <result property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="kakaoId" column="kakao_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="profileImage" column="profile_image"/>
        <result property="birthDate" column="birth_date"/>
        <result property="gender" column="gender"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>


    <select id="findAll" resultType="com.example.mapbius_server.domain.User">
        SELECT * FROM user;
    </select>

    <!-- 일반 회원가입 -->
    <insert id="insertUser" parameterType="com.example.mapbius_server.domain.User">
        INSERT INTO users (id, pw, email, nick_name, birth_date, gender) VALUES (#{id}, #{pw}, #{email}, #{nickName}, #{birthDate}, #{gender})
    </insert>

    <!-- 카카오 계정 회원가입 -->
    <insert id="insertKakaoUser" parameterType="com.example.mapbius_server.domain.User">
        INSERT INTO users (email, kakao_id, nick_name, birth_date, gender) VALUES (#{email}, #{kakaoId}, #{nickName}, #{birthDate}, #{gender})
    </insert>

    <!-- 아이디 존재 확인 -->
    <select id="selectUserId" resultType="int">
        SELECT count(1) FROM users WHERE id = #{id};
    </select>

    <!-- 이메일 존재 확인 -->
    <select id="selectUserEmail" resultType="int">
        SELECT count(1) FROM users WHERE email = #{email};
    </select>

    <!-- 닉네임 존재 확인 -->
    <select id="selectUserNickName" resultType="int">
        SELECT count(1) FROM users WHERE nick_name = #{nm};
    </select>



</mapper>